* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  scroll-behavior: smooth;
  padding-top: 80px;
}
/* --------------- common start ------------------ */

:root {
  --my-transition: transform 0.5s ease;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.common-button {
  background: #2b3990;
  border-radius: 10px;
  padding: 0.8rem;
  color: #fff;
  border: none;
  cursor: pointer;
}
.common-button:hover {
  background: #3246c8;
}
.divider {
  height: 1px;
  width: 100%;
  background: #d1d5dbab;
}
.title {
  margin: 1rem 0rem;
  font-size: 1.2rem;
  flex-grow: 1;
}
.sub-title {
  color: #00000083;
  font-weight: 400;
  flex-grow: 1;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #d1d5db;
  border-radius: 15px;
  padding: 1.5rem;
  transition: all 0.3s linear;
}
.card:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.profile-circle {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: rgba(128, 128, 128, 0.218);
}
.performance,
.question,
.industries,
.manufacturing,
.result,
.portfolio,
.resource,
.transform,
.contact {
  background: #fefefe;
  padding: 6rem 10rem;
}
.right-transform input,
.catalogue-right input {
  border: 1px solid #d1d5db;
  border-radius: 10px;
  background: #fff;
  padding: 0.8rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.056);
  width: 100%;
  margin-bottom: 0.6rem;
}
/* --------------- common end ------------------ */

/* ---------------- navbar start ------------------- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10rem;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.056);
  transition: var(--my-transition);
}
.navbar.hide{
  top: -100px;
}
.navbar .logo {
  width: 100px;
  height: 50px;
}
.right-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}
.navbar .arrow {
  width: 10px;
  height: 10px;
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 95px; /* ✅ below navbar */
  height: calc(100vh - 80px);
  right: -100%;
  width: 75%; /* or 80% */
  max-width: 300px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2000;
}
.sidebar.active {
  right: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1500;
}
.overlay.active {
  display: block;
}
.close-btn {
  font-weight: bold;
  font-size: 1rem;
  text-align: end;
  margin-bottom: 1rem;
}
.close-btn:hover {
  color: #2b3990;
  cursor: pointer;
}
.sidebar-item {
  text-align: center;
}
/* Tablet */
@media (max-width: 1280px) {
  .navbar {
    padding: 3rem 4rem;
  }
}
/* mobile */
@media (max-width: 768px) {
  .navbar {
    padding: 3rem 1rem;
  }
  .right-navbar {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
/* Hide sidebar in desktop */
@media (min-width: 769px) {
  .sidebar {
    display: none;
  }

  .overlay {
    display: none;
  }
}
/* ---------------- navbar end ------------------- */

/* ---------------- infra start ------------------- */

.infra {
  background: #fefefe;
  padding: 2rem 10rem 6rem;
}
.infra-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.infra-top p {
  padding-bottom: 2rem;
}
.infra p {
  font-size: 0.9rem;
}
.infra-product,
.infra-icon {
  color: #00000083;
}
.infra-card-carousel {
  flex: 1.2;
}
.infra-card-details {
  flex: 1;
  /* min-width: 0; */
}
.infra-image-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 100%;
  position: relative;
  height: 550px;
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid #fff;
}
.infra-image-card img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  transition: var(--my-transition);
}
.infra-image-card:hover img {
  transform: scale(1.1);
}
.infra-prev,
.infra-next {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1eaea;
  color: #000;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.infra-prev {
  left: 20px;
  transform: translateY(-50%);
}
.infra-next {
  right: 20px;
  transform: translateY(-40%);
}
.infra-card {
  display: flex;
  transition: transform 0.6s ease;
}

.infra-card-wrapper {
  display: flex;
  gap: 20px;
}

.infra-carousel {
  width: 100%;
  overflow: hidden;
}
.infra-card-carousel,
.infra-card-details {
  min-width: 0;
}
.carousel-reflect {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 1rem;
}
.carousel-reflect-card {
  background: #fff;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #d1d5db;
  width: 82px;
  height: 82px;
  overflow: hidden;
}
.carousel-reflect-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-reflect-card.active {
  border: 3px solid #2b3990;
  transform: scale(1.05);
  padding: 0;
}
.left-right-infra {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
.left-right-infra > * {
  min-width: 0;
}
.infra-bottom p {
  color: #00000083;
  font-size: 1rem;
  text-align: center;
  margin: 2.5rem 0rem;
}
.infra-bottom-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.certify-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
.certify-item {
  display: flex;
  gap: 10px;
  padding: 0.5rem;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #d1d5db;
}
.certify-item img {
  width: 25px;
  height: 20px;
}
.infra-card-details h1 {
  margin: 1.5rem 0rem;
  max-width: 800px;
  font-size: 2.5rem;
  word-break: break-word;
  flex-grow: 1;
}
.feature-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.feature-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}
.feature-row p {
  font-size: 1rem;
}
.icon {
  width: 15px;
  height: 15px;
  background: #1e3a8a;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}
.certify-range {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #d1d5db;
  margin: 1.5rem 0rem;
}
.certify-range p {
  color: #00000083;
  font-weight: 600;
}
.ship-card {
  display: flex;
  gap: 10px;
}
.ship {
  background: #fef3c7;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  text-align: center;
}
.ship-certified {
  background: #f3f4f6;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  text-align: center;
  display: inline-block;
  align-self: flex-start;
}
.ship-certified p {
  color: #000;
}
.ship p {
  color: #92400e;
}
.ship-button {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.view-ship {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #2b3990;
  border-radius: 10px;
  padding: 0rem 1rem;
}
.view-ship:hover {
  background: #f3f4f6;
}
.view-ship p {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}
/* Tablet */
@media (max-width: 1280px) {
  .infra {
    padding: 3rem 4rem;
  }
  .infra-card-carousel {
    flex: 1.5; /* 🔥 grow image more */
  }

  .infra-card-details {
    flex: 1;
  }
}
@media (max-width: 1024px) {
  .infra-bottom-img:nth-child(n + 5) {
    display: none;
  }
  .infra-card-details h1 {
    font-size: 2rem;
  }
}
/* mobile */
@media (max-width: 768px) {
  .infra {
    padding: 3rem 1rem;
  }
  .infra-card-carousel,
  .infra-card-details {
    width: 100%;
    flex: none;
  }
  .infra-card {
    width: 100%;
  }
  .left-right-infra {
    flex-direction: column-reverse;
    /* gap: 20px; */
  }
  .infra-bottom-img:nth-child(n + 4) {
    display: none;
  }
  .infra-top p {
    padding-bottom: 1rem;
  }
  .ship-button {
    margin-bottom: 0rem;
  }
}
@media (max-width: 500px) {
  .ship-card {
    flex-direction: column;
  }
  .ship {
    display: block;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .ship-button {
    flex-direction: column;
  }
  .view-ship {
    padding: 0.6rem;
    justify-content: center;
  }
  .infra-bottom-img:nth-child(n + 3) {
    display: none;
  }
}
/* ---------------- infra end ------------------- */

/* ------------- technical start ------------------ */
.technical {
  background: #111827;
  color: #fff;
  padding: 6rem 10rem;
}
.technical h1 {
  max-width: 800px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.technical p {
  color: #ffffffbd;
  font-size: 1.1rem;
  max-width: 800px;
}
.table-container {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #374151;
  margin: 3rem 0rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #374151;
}

th {
  text-align: left;
  padding: 1rem;
  color: #ffffff;
  letter-spacing: 1px;
}

tbody tr {
  background-color: #1c2a3a;
  border-bottom: 1.5px solid #374151;
}

td {
  padding: 1rem;
  color: #d1d5db;
}

tbody tr:hover {
  background-color: #374151;
}
.download {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 10px;

  width: fit-content;
  margin: 20px auto;
}
.download:hover {
  gap: 10px;
  cursor: pointer;
}
/* Tablet */
@media (max-width: 1280px) {
  .technical {
    padding: 3rem 4rem;
  }
}
/* mobile */
@media (max-width: 768px) {
  .technical {
    padding: 3rem 1rem;
  }
}
/* ------------- technical end ------------------ */

/* ----------------- performance start---------------- */
.performance h1 {
  max-width: 800px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.performance p {
  color: #00000083;
  font-size: 1.1rem;
  max-width: 800px;
}
.performance-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 3rem 0rem;
}
.card-button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  justify-content: center;
  font-size: 1rem;
}
.card img {
  width: 25px;
  height: 25px;
}
/* Tablet */
@media (max-width: 1280px) {
  .performance {
    padding: 3rem 4rem;
  }
}
@media (max-width: 992px) {
  .performance-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* mobile */
@media (max-width: 768px) {
  .performance {
    padding: 3rem 1rem;
  }
  .performance-card {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ----------------- performance end---------------- */

/* ----------------- question start---------------- */
.ques-frequent {
  color: #2b3990;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}
.question span {
  color: #000;
}

.question-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 10px;
  background: #f3f4f6;
  border: 1px solid #d1d5db;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.056);
  padding: 1rem;
  margin-bottom: 1rem;
}
.catalogue-question {
  margin-top: 4rem;
}
.question-left h4 {
  margin-bottom: 1rem;
  font-weight: 500;
}
.question-left .answer {
  display: none;
  color: #00000083;
  font-size: 0.9rem;
}
.question-card.active .arrow {
  transform: rotate(180deg);
}
.question-card.active .arrow path {
  stroke: #fff;
}
.question-card.active .toggle-btn {
  background: #2b3990;
  width: 20px;
  height: 20px;
}
.question-card.active .answer {
  display: block;
}
.arrow {
  transition: transform 0.3s ease;
  width: 16px;
  height: 16px;
}
.catalogue-left h2 {
  margin-bottom: 0.5rem;
}
.catalogue-left p {
  color: #00000083;
  font-size: 1rem;
}
.request-catalogue {
  width: 100%;
}
.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #f3f4f6;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
.color-change {
  background: #fff;
}
/* Tablet */
@media (max-width: 1280px) {
  .question {
    padding: 3rem 4rem;
  }
}

@media (max-width: 992px) {
  .catalogue-question {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .catalogue-right {
    display: flex;
    gap: 15px;
    width: 100%;
  }
  .catalogue-right input {
    flex: 7;
    margin: 0;
  }
  .request-catalogue {
    flex: 3;
  }
}
/* mobile */
@media (max-width: 768px) {
  .question {
    padding: 3rem 1rem;
  }
  .catalogue-right {
    flex-direction: column;
  }
}
/* ----------------- question end---------------- */

/* ----------------- industries start---------------- */
.industries h1 {
  max-width: 800px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.industries p {
  color: #00000083;
  font-size: 1.1rem;
  max-width: 800px;
  margin-bottom: 1rem;
}
.industries-card-design {
  flex: 0 0 calc((100% - 20px) / 2);
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}
.industries-card-design img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--my-transition);
}
/* ZOOM EFFECT */
.industries-card-design:hover img {
  transform: scale(1.1);
}
.industries-card-design::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.803) 20%,
    rgba(0, 0, 0, 0.56) 50%,
    rgba(0, 0, 0, 0.1) 80%
  );
  z-index: 1;
}
.overlay-text {
  position: absolute;
  z-index: 2;
  left: 20px;
  bottom: 30px;
}
.overlay-text h2 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 1rem;
}
.overlay-text p {
  color: #f7f8f9b8;
  font-size: 1rem;
  font-weight: 400;
  max-width: 300px;
}
.industries-card {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 3rem 0rem;
  transition: transform 0.6s ease;
}
.industries-prev,
.industries-next {
  height: 50px;
  border-radius: 50px;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background: #2b3990;
  color: #fff;
  border: none;
  cursor: pointer;
}
.industries-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.industries-carousel {
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
}
/* Tablet */
@media (max-width: 1280px) {
  .industries {
    padding: 3rem 4rem;
  }
}

@media (max-width: 768px) {
  .industries {
    padding: 3rem 1rem;
  }
  .industries-card-design {
    flex: 0 0 100%;
  }
}
/* ----------------- industries end---------------- */

/* ----------------- manufacturing start---------------- */
.manufacturing h1 {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.manufacturing p {
  text-align: center;
  color: #00000083;
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.manufacturing-cards {
  border-radius: 10px;
  background: #fff;
  border: 1px solid #d1d5db;
  padding: 1.5rem;
}
.manufacturing-card {
  display: flex;
  gap: 15px;
}

.left-manufacturing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-manufacturing {
  width: 100%;
}
.steps {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
} /* default step */
.step {
  padding: 0.6rem 2rem;
  border-radius: 999px;
  border: 1px solid #d1d5db;
  background: #f3f4f6;
  font-size: 0.9rem;
  cursor: pointer;
} /* active step */
.step.active {
  background: #2f3e8f;
  color: #fff;
  border: none;
}
.left-manufacturing h2 {
  font-weight: 500;
}
.left-manufacturing p {
  margin: 1rem 0rem;
  text-align: start;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 500;
}
.manufact-carousel {
  width: 100%;
  overflow: hidden;
}
.manufact-card-wrapper {
  display: flex;
  gap: 20px;
}
.manufact-card {
  display: flex;
  transition: transform 0.6s ease;
}
.manufact-card-img {
  flex: 0 0 100%;
  position: relative;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.manufact-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: var(--my-transition);
}
.manufact-card-img:hover img {
  transform: scale(1.1);
}
.feature-manufact-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.feature-manufact-row p {
  margin: 0;
  font-weight: 400;
  color: #000;
}
/* Tablet */
@media (max-width: 1280px) {
  .manufacturing {
    padding: 3rem 4rem;
  }
}
@media (max-width: 1024px) {
  .manufacturing-card {
    display: flex;
    flex-direction: column;
  }
}
/* mobile */
@media (max-width: 768px) {
  .manufacturing {
    padding: 3rem 1rem;
  }
}
/* ----------------- manufacturing end---------------- */

/* ----------------- result start---------------- */
.result h1 {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.result-card h6 {
  color: #00000083;
}
.result p {
  text-align: center;
  color: #00000083;
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
}
.result-card {
  display: flex;
  align-items: stretch;
  gap: 20px;
  margin: 3rem 0rem;
  transition: transform 0.6s ease;
}
.card-design {
  background: #f7f8f9;
  padding: 1.5rem;
  border-radius: 12px;
  flex: 0 0 calc((100% - 40px) / 3);
}
.card-design img {
  width: 30px;
  height: 25px;
}
.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 2rem 0rem 0.5rem 0rem;
}
.profile-details h5,
h6 {
  margin: 0;
}
.nav-prev,
.nav-next {
  height: 50px;
  border-radius: 50px;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background: #2b3990;
  color: #fff;
  border: none;
  cursor: pointer;
}
.result-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
}
.carousel {
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
}
/* Tablet → 2 cards */
@media (max-width: 1280px) {
  .result {
    padding: 3rem 4rem;
  }
  .card-design {
    flex: 0 0 calc((100% - 20px) / 2);
  }
}

/* Mobile → 1 card */
@media (max-width: 992px) {
  .card-design {
    flex: 0 0 100%;
  }
}
@media (max-width: 768px) {
  .result {
    padding: 3rem 1rem;
  }
}
/* ----------------- result end---------------- */

/* ----------------- portfolio start---------------- */
.portfolio h1 {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.portfolio p {
  text-align: center;
  color: #00000083;
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
}
.portfolio-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 3rem 0rem;
}
.portfolio-img {
  width: 100%;
  overflow: hidden;
  padding: 2rem 0rem 1rem 0rem;
}
.portfolio-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: var(--my-transition);
}
.portfolio-img:hover img {
  transform: scale(1.03);
}
.learn-more {
  border: 1px solid #c4c8e0;
  background: #f4f5f9;
  text-align: center;
  color: #2b3990;
  font-weight: 600;
  padding: 1rem 0rem;
  border-radius: 10px;
}
.learn-more:hover {
  background: #2b3990;
  color: #fff;
}
.portfolio span {
  color: #2b3990;
}
.custom-solutions-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #d1d5db;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.056);
}

.custom-card h1 {
  text-align: start;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  padding: 0;
  font-weight: 500;
}
.custom-card p {
  text-align: start;
  font-size: 1rem;
}
.export {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
}
/* Tablet */
@media (max-width: 1280px) {
  .portfolio {
    padding: 3rem 4rem;
  }
}
@media (max-width: 768px) {
  .portfolio {
    padding: 3rem 1rem;
  }
  .portfolio-card {
    grid-template-columns: 1fr;
  }
  .custom-solutions-card {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
}
/* ----------------- portfolio end---------------- */

/* ----------------- resource end---------------- */
.resource h1 {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.resource p {
  text-align: center;
  color: #00000083;
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
}
.resource-card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 1rem;
  margin: 3rem 0rem;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #d1d5db;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.056);
}
.resource-card-details {
  display: flex;
  justify-content: space-between;
}
.resource-card p {
  margin: 0;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
  text-align: start;
}
.download-pdf-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.download-pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.download-pdf img {
  height: 20px;
  width: 20px;
}
.download-pdf p {
  display: inline;
  color: #2b3990;
  font-size: 1rem;
  font-weight: 600;
}
/* Tablet */
@media (max-width: 1280px) {
  .resource {
    padding: 3rem 4rem;
  }
}

@media (max-width: 768px) {
  .resource {
    padding: 3rem 1rem;
  }
}

@media (max-width: 600px) {
  .resource-card-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d1d5dbab;
  }
}
/* ----------------- resource end---------------- */

/* ----------------- transform start---------------- */
.transform-card {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  background: #2b3990;
  padding: 4rem;
  border-radius: 20px;
  color: #fff;
  letter-spacing: 0.6px;
}
.left-transform h1 {
  color: #ffffffea;
  font-size: 2.5rem;
  max-width: 800px;
}
.left-transform p {
  color: #f7f8f9b8;
}
.transform-sub-title {
  font-size: 0.8rem;
}
.transform-phone-number,
.email {
  font-weight: 500;
  color: #fff;
}
.left-transform .email {
  text-decoration: underline;
}
.right-transform {
  background: #f7f8f9;
  border-radius: 20px;
  color: #000;
  padding: 2rem;
}

.form-details p {
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.phone-input {
  display: flex;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.country-code {
  border: none;
  padding: 10px;
  background: #fff;
  font-size: 14px;
  outline: none;
}

.phone-input input {
  border: none;
  padding: 10px;
  font-size: 14px;
  outline: none;
  background: #fff;
}
.div-form {
  width: 1px;
  background: #d1d5db;
}
.contact-divider {
  margin: 2.5rem 0rem 1rem 0rem;
  background: #ffffff60;
}
.request {
  margin-top: 1.2rem;
  text-align: center;
  background: #000000de;
  font-size: 0.9rem;
}
/* Tablet */
@media (max-width: 1280px) {
  .transform {
    padding: 3rem 4rem;
  }
}
@media (max-width: 992px) {
  .transform-card {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .transform {
    padding: 3rem 1rem;
  }
    .transform-card {
  padding: 2rem;
}
}
/* ----------------- transform end---------------- */

/* ----------------- contact start---------------- */
.contact-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.056);
  border: 1px solid #d1d5db;
}
.contact-card-left img {
  width: 100px;
  height: 60px;
}
.contact-span {
  color: #2b3990;
}
.contact-card-right {
  max-width: 300px;
}
.contact-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.contact-card1 .contact-title {
  font-weight: bold;
  font-size: 0.8rem;
  margin: 4rem 0rem 1rem 0rem;
}
.contact-card1 .contact-sub-title {
  font-weight: 500;
  font-size: 0.9rem;
  color: #00000083;
  margin-bottom: 1rem;
}
.contact-sub-title-add {
  font-size: 0.7rem;
}
.contact-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}
.contact-icon img {
  width: 15px;
  height: 15px;
}
.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}
/* Tablet */
@media (max-width: 1280px) {
  .contact {
    padding: 3rem 4rem;
  }
}
@media (max-width: 768px) {
  .contact {
    padding: 3rem 1rem;
  }
  .contact-details {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 0rem 0rem 0rem;
  }
  .contact-card1 .contact-title {
    margin-top: 1rem;
  }
  .contact-card1 .contact-sub-title {
    margin-bottom: 1rem;
  }
  .contact-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* ----------------- contact end---------------- */

/* ----------------- footer start---------------- */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 10rem;
}
.footer p {
  font-size: 0.8rem;
}
.fotter-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
/* Tablet */
@media (max-width: 1280px) {
  .footer {
    padding: 0.8rem 4rem;
  }
}
@media (max-width: 850px) {
  .footer {
    padding: 0.8rem 1rem;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
  }
}

/* ----------------- footer end---------------- */
